body{
    background:#D0E5F2 ;
}

body, ul, li, p, a{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Mono', monospace;
    font-size: 1.2rem;
    text-decoration: none;
    color:#D0E5F2 ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #D93D4A;
    color: white;
    padding: 0px 25px;
}
.navbar ul {
    display: flex;
}

.navbar .links ul li {
    align-items: center;
    display: flex;
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    text-decoration-color: white;
}
.logo p{
    margin: 0px;
    padding: 0px;
    font-size: 2.0rem;
    font-family: 'PT Mono', monospace;
    text-decoration: none;
    color: #D0E5F2;
}
header {
    margin: 0 auto;
    width: 1024px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: "conteudo img img";
    justify-content: center;
    height: 500px;
    margin-bottom: 10px;
    
}
 .img {
    background-image: url("..src/imagens/header.jpeg");
    background-size: cover;
    display: flex;
    grid-area: img;
    justify-content: center;
    object-fit: cover;
    margin-left: 37px;
   
} 
.conteudo{
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    height: 2px;
    justify-content: center;
    margin-right: 20px;
    
}
.text, h2, h3 {
    color: #D93D4A;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-size: 0.8rem;
    font-family: 'PT Mono', monos;   
    
}
#desloc{
    background: #F2B705;
    border-radius: 10px;
    border: none;
    color: #D0E5F2;
    font-family: 'PT Mono', monospace;
    font-size: 0.3rem;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}
.p1{
    font-family: 'PT Mono', monospace;
    font-size: 1.2rem;
    text-decoration: none;
    color:#D93D4A ;
}
#btnDecode{
    background: #F2B705;
    border-radius: 10px;
    border: none;
    color: #8187A6;
    font-family: 'PT Mono', monospace;
    font-size: 1,0rem;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
}
 #caixa2{
    background: #F2B705;
    border-radius: 10px;
    border: none;
    color:#8187A6;
    font-family: 'PT Mono', monospace;
    font-size: 1.2rem;
   
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #D93D4A;
    /*color:#D93D4A;*/
    padding: 20px 25px;
}
